body {
    margin: 0;
    background-color: #00CFC1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column; /* Empilha verticalmente */
    align-items: center;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    border-top: 5px solid white;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 20px;
}

.cabeca {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 50px;
    gap: 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    
}


.cabeca a {
  color: rgb(8, 1, 1);
  background-color:#00CFC1;
  font-weight:bolder;
  font-family: Verdana;
}
